#head_container {
    display: flex;
    flex-wrap: wrap;
    min-height: 300px;
    max-width: 300px;
    border-color: black;
    border-style: solid;
    border-width:1px;

  }

body{
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}

.squares{
    border-width: 1px;
    border-style: solid;
    border-color: black;
    flex: 1;
    background-color: #8f8f8f;
}